@font-face {
  font-family: "MangoGrotesque", sans-serif;
  src: url("/src/assets/fonts/MangoGrotesque-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque", sans-serif;
  src: url("/src/assets/fonts/MangoGrotesque-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque";
  src: url("/src/assets/fonts/MangoGrotesque-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque";
  src: url("/src/assets/fonts/MangoGrotesque-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque";
  src: url("/src/assets/fonts/MangoGrotesque-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque";
  src: url("/src/assets/fonts/MangoGrotesque-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque";
  src: url("/src/assets/fonts/MangoGrotesque-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque";
  src: url("/src/assets/fonts/MangoGrotesque-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque";
  src: url("/src/assets/fonts/MangoGrotesque-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    position: relative;
    width: 100%;
    background-color: #262525;
    color: white;
    min-height: 100vh;
    overflow-y: auto;
  }
  #root {
    width: inherit;
    min-height: inherit;
  }
}

@layer components {
  .case-study {
    @apply text-lg;
  }
}

@layer utilities {
  .centered-row {
    @apply flex justify-center items-center;
  }
  .centered-col {
    @apply flex flex-col justify-center items-center;
  }
  .between-row {
    @apply flex items-center justify-between;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
