@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    position: relative;
    width: 100%;
    background-color: #262525;
    color: white;
    overflow-y: auto;
  }
  #root {
    width: inherit;
  }
  h1 {
    font-size: 5.125rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .serena-hou-h1-shadow {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white; /* Outline color */
  }
}

@layer components {
  .case-study {
    @apply text-lg;
  }
  .case-study-body {
    @apply bg-white rounded-[1.75rem] pt-24 md:pt-56 px-6 md:px-12 pb-16 md:pb-20 space-y-16 md:space-y-20 md:mx-6 -translate-y-8 md:-translate-y-32;
  }
}

@layer utilities {
  .centered-row {
    @apply flex justify-center items-center;
  }
  .centered-col {
    @apply flex flex-col justify-center items-center;
  }
  .between-row {
    @apply flex items-center justify-between;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
